/*---------------*/
/*----GENERAL----*/
/*---------------*/

body {
    /*width: 100vw;
    height: 100vh;*/
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

main {
    background-color: red;
    margin: 5% 5% 5% 5%;
    height: 100vh;

}

p {
    font-size: 1em;
    font-family: Arial 'Lucida Console' sans-serif;


}

/*----------------*/
/*-----TITLES-----*/
/*----------------*/

header > h1 {
    background-color: purple;
    text-align: left;
    font-size: 2.5em;

}

h2 {
    text-align: center;
    font-size: 1.5em;

}

/*------------------------------------------------------*/

/*----------------*/
/*-----HEADER-----*/
/*----------------*/

header {
    display: flex;
    flex-direction: column;
}


/*-------------*/
/*-----NAV-----*/
/*-------------*/

nav {
    background-color: green;
}

nav > ul {
    background-color: orange;
    display: flex;
    flex-direction: row;
}


/*----------------*/
/*----ARTICLES----*/
/*----------------*/
/*----SECTIONS----*/
/*----------------*/

div.content_articles {
    display:flex;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

div.content_sections {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
}


section {
    display: flex;
    flex-direction: 
}




/*-----------------*/
/*------ASIDE------*/
/*-----------------*/

